*{
    position: relative;
}
.container-fluid{
    min-height: 100vh;
    overflow: hidden;
}
.container-fluid .row .left-side{
    background-color: #2e3243;
    height: 100vh;
}
.container-fluid .row .right-side{
    margin-left: auto;
}
.container-fluid .row .col-2 .sel{
    cursor: pointer;
    color: #7984ac;
}
.container-fluid .row .col-2 .sel.sel1{
    color: #2e3243;
    background-color: #c4d8ec;
}
.container-fluid .row .col-2 .list{
    border-top: #4554a1 solid;
}
.container-fluid .row .col-2 .list a{
    text-decoration: none !important;
}
.container-fluid input:focus,
.container-fluid select:focus{
    box-shadow: none;
}

.btn.btn-primary,
.btn.btn-primary:hover{
    color: #3d5ac1 !important;
    font-weight: 700;
    background-color: #fff;
    border: 1px #3d5ac1 solid;
}
.btn.btn-primary:active{
    color: #3d5ac1 !important;
    font-weight: 700 !important;
    background-color: #fff !important;
    border: 1px #3d5ac1 solid !important;
}
.btn.btn-secondary,
.btn.btn-secondary:hover{
    color: #fff !important;
    font-weight: 700;
    background-color: #3d5ac1;
    border: 1px #3d5ac1 solid;
}
.btn.btn-secondary:active{
    color: #fff !important;
    font-weight: 700 !important;
    background-color: #3d5ac1 !important;
    border: 1px #3d5ac1 solid !important;
}
.dwn-btn{
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.btn.btn-outline-primary{
    color: #3d5ac1 !important;
    border: 1px #3d5ac1 solid !important;
    font-weight: 700;

}
.btn-check:checked+.btn{
    background-color: #3d5ac1 !important;
    color: #fff !important;
}
table .table-info{
    background-color: #d3e3ee !important;
}
table a{
    color: inherit;
}
table .test-link{
    background-color: #3d5ac1;
    color: #fff;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
}